<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>

       <h2> <%= ["hello","bonjour","namaste"][0]%> </h2>
     


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim obcaecati illum dolorem cupiditate consectetur? Deserunt enim numquam animi commodi odio adipisci ad minus aperiam, earum doloremque ab eveniet error odit?</p>

    <button>Click me</button>
    
</body>
</html>