<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolldice</title>
</head>
<body>
    <h1>dice gavee value : 
        <%= num  %>
    </h1>
    <% if(num == 6) { %>
        <h2>Nice! Rolldice again</h2>


        <% } %>
        <footer style="position: fixed; left: 0; bottom: 0; width: 100%; background: #f1f1f1; text-align: center;">
            <%- include("includes/footer.ejs") %>
        </footer>
</body>
</html>